* {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}

body {
    display: flex;
    background-color: #202124ed;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container-1 {
    display: block;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-2 {
    display: flex;
}

login {
    display: flex;
    flex-direction: column;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px 6px ;
    gap: 25px;
}

username-cont, password-cont {
    border-style: none;
    padding: 50px;
}

username-input, password-input {
    border: red;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
